* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(235, 18%, 26%);
    padding: 8rem;
}

.overall-container {
    display: flex;
    gap: 1rem;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.general-container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 50%;         /*the width of general-container is half the width of the body*/
    height: fit-content;
    padding: 1.5rem;
    margin: auto;
    border-radius: 1rem;
}

h1 {
    font-weight: 700;
    margin: 0rem 0rem 1rem;
}

p {
    font-weight: 400;
}

.texts {
    font-size: 11.5px;
}

.icon-list {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0px;
}

/* for styling the email address text and the error message */
.email-error {
    margin: 1rem 0rem 5px;
    display: flex;
    justify-content: space-between;
}

/* style the error message and set display 
to none. To set display to block with JavaScript */
.error-message {
    font-size: 9px;
    color: tomato;
    display: none;
}

input {
    width: 100%;
    padding: 4px;
    border-radius: 5px;
    border-color: rgb(223, 217, 217);
}

input:hover {
    cursor: pointer;
}

button {
    width: 100%;
    background-color: hsl(234, 29%, 20%);
    margin-top: 1rem;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background: linear-gradient(to right, rgb(167, 36, 36), tomato);
}

.image-container {
    background-image: url(illustration-sign-up-desktop.svg);
    background-position: center;
    border-radius: 8px;
    background-size: cover;
    width: 22rem;
    height: 20rem;
}

.success-message-container {
    display: none;
    background-color: white;
    width: 18rem;
    padding: 2rem;
    border-radius: 1rem;
    margin: auto;
    font-size: 11.5px;
}

@media screen and (max-width: 375px) {
    body {
        background: none;
        padding: 0rem;
        margin: 0rem
    }

   .general-container {
        width: 100%;
        flex-direction: column-reverse;
        border-radius: 0rem;
        padding: 0rem 1.5rem 1.5rem;
   }

   .image-container {
        background-image: url(illustration-sign-up-mobile.svg);
        border-radius: 0px 0px 8px 8px;
        height: 14rem;
        width: 100%;
   }
}